header, section, footer, aside, nav, main, article, figure{
    display: block;
}

.result{
    //border: solid grey 1px;
    //background-color: gray;
}

.result footer a{
    text-decoration: none;
}

.rocks{
    color: red;
    margin-right: 5px;
}

.sucks{
    color:chartreuse;
}

.post{
    width: 300px;
    text-align: center;
     border: solid black 1px;
    background-color: #DFE3DC;
}

.post header p{
  
  color: black;
}

.post p{
    
  color: black;
}

h1, h3{
    color: white;
}

body{
    background-color: #0F0D0F;
}

.user-view{
    margin-top: 20px;
}

.user-view ul li{
    display: inline;
    padding-left: 20px;
}

.user-view ul li a{
    color: white;
    text-decoration: none;
}

.signup{
    margin-left: 400px;
    width: 500px;
    border: solid black 2px;
    border-radius: 20px
}

.signup header{
    margin-left: 30px;
}

.signup form label{
    margin-left: 100px;
    padding-right: 5px;
    color: white;
}

.signup header h2{
    color: white;
}

.signup input{
    margin-bottom: 10px;
}

.sbutton{
    margin-top: 10px;
    margin-left: 200px;
    margin-bottom: 20px;
}

.close-button button{
    margin-top: 10px;
    margin-left: 420px;
}

.slogin{
    margin-left: 470px;
    border: solid black 1px;
    width: 400px;
}

.slogin header{
    margin-left: 20px;
}

.slogin input{
    margin-top: 10px;
    width: 250px;
}

.slogin label{
    margin-left: 20px;
    color: white;
}

.images{
    width: 200px;
    height:200px;
    border-radius: 100px;
}

figure .images{
    float: left;
    padding-right: 5px;
}

.slogin a{
    color: green;
    display: block;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
}

.slogin button{
    margin-bottom: 10px;
    margin-left: 70px;
    width: 100px;
}


.ssection{
    margin-left: 200px;
}

.ssection header{
    float: left;
}

.ssection header h3{
    font-size: 30px;
}

.ssection form{
    padding-left: 330px;
}

.ssection form input{
    margin-top: 31px;
    height: 35px;
    width: 300px;
    color: black;
}

.ssection form button{
    height: 36px;
}

nav{
    margin-top: -16px;
    margin-left: -49px;
    margin-bottom: 100px;
}

.header-title{
    font-size: 80px;
    text-align: center;
    margin-top: -8px;
    margin-bottom: 2px;
     margin-left: -8px;
    width: 1400px;
    background-color: #282629;
}

.nav-header ul li{
    list-style: none;
    float: left;
    background-color: #5F5F5F;
    height: 50px;
}

.nav-header ul li a{
    margin-top: 10px;
    color: white;
    font-size:24px;
    text-decoration: none;
}

ul li button{
    border-color: #5F5F5F;
    color: white;
    height: 50px;
    width: 50px;
    background-color: #5F5F5F;
}

section{
    //border: solid black 1px;
    clear: both;
}

footer{
    clear:both;
}

nav{
    //border: solid black 1px;
}

form{
    //border: solid black 1px;
}
