<!doctype html>
<html>
    <head>
        <title>Chunk Jam || Login</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="../css/chunkjam.css"/>
    </head>
    <body>
        <header>
            <h1 class="header-title"><del>Chunk</del> <i>Jam</i></h1>
        </header>
        <nav class="nav-header">
            <ul>
                <li><button class="menu-button">=</button></li>
                <li><a href="../index.html">Home</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>
        <section class="slogin">
            <form action="" method="">
                <header>
                  <!-- <a href="../index.html" class="close-button"><button>X</button></a> -->
                    <h1>Login:</h1>
                </header>
                <label>Username:</label>
                <input type="text" placeholder="Username" required=""/>
                <br/>
                <label>Password:</label>
                <input type="password" placeholder="Password" required=""/>
                <a href="signup.html">Sign Up</a>
                <br/>
                <button>Login</button>
                <button>Cancel</button>
            </form>
            <a href="user-view.html">User</a>
        </section>
            <script src="../js/jquery.min.js"></script>
        <script src="../js/script.js"></script>
    </body>
</html>
