<!doctype html>
<html>
    <head>
        <title>Chunk Jam || Sign Up</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="../css/chunkjam.css"/>
    </head>
    <body>
        <header>
            <h1 class="header-title"><del>Chunk</del> <i>Jam</i></h1>
        </header>
        <nav class="nav-header">
            <ul>
                <li><button class="menu-button">=</button></li>
                <li><a href="../index.html">Home</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>
        <section class="signup">
            <header>
                <a href="../index.html" class="close-button"><button>X</button></a>
                <h2>Sign Up:</h2>
            </header>
            <form>
                <label>Firstname: </label>
                <input type="text" name="fname" required=""/>
                <br/>
                <label>Lastname: </label>
                <input type="text" name="lname" required=""/>
                <br/>
                <label>Username: </label>
                <input type="text" name="uname" required=""/>
                <br/>
                <label>Email Address: </label>
                <input type="email" name="email" required=""/>
                <br/>
                <label>Password: </label>
                <input type="password" name="pass" required=""/>
                <br/>
                <label>Confirm Password: </label>
                <input type="password" name="pass2" required=""/>
                <br/>
                <button class="sbutton">Submit</button>
            </form>
        </section>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/script.js"></script>
    </body>
</html>