<!doctype html>
<html>
    <head>
        <title>Dashboard</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="../css/chunkjam.css"/>
    </head>
    <body>
        <nav class="user-view">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">My Notebook</a>
                </li>
                <li>
                    <a href="#">My Bands</a>
                </li>
                <li>
                    <a href="#">Settings</a>
                </li>
                <li>
                    <a href="../index.html">Logout</a>
                </li>
            </ul>
        </nav>
        <form>
            <input type="search" placeholder="Search"/>
            <br/>
            <button>Search</button>
        </form>
        <section>
            <article>
                <header>
                    <h2><a href="#">In my Life - The Beatles</a></h2>
                    <p>Tab by <a href="#">w998a</a></p>
                </header>
                <p>My first tab!</p>
                <footer>
                    <a href="#">Rocks</a>
                    <a href="#">Sucks</a>
                    <a href="#">Reviews</a>
                    <form>
                        <input type="text" placeholder="Review"/>
                    </form>
                </footer>
            </article>
            <article>
                <header>
                    <h2><a href="#">Closing Time - Semisonic</a></h2>
                    <p>Tab by <a href="#">Adrian9870</a></p>
                </header>
                <p>Tab by the greates guitarist...</p>
                <footer>
                    <a href="#">Rocks</a>
                    <a href="#">Sucks</a>
                    <a href="#">Reviews</a>
                    <form>
                        <input type="text" placeholder="Review"/>
                    </form>
                </footer>
            </article>
            <article>
                <header>
                    <h2><a href="#">Smells Like Teen Spirit - Nirvana</a></h2>
                    <p>Tab by <a href="#">Michelle143</a></p>
                </header>
                <p>Can't get it right but damn sounds nice.</p>
                <footer>
                    <a href="#">Rocks</a>
                    <a href="#">Sucks</a>
                    <a href="#">Reviews</a>
                    <form>
                        <input type="text" placeholder="Review"/>
                    </form>
                </footer>
            </article>
        </section>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/script.js"></script>
    </body>
</html>